@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Montserrat+Alternates:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "inconstant";
  src: url("/fonts/InconstantVF.ttf") format("truetype");
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 background-color: #FFFFFF;
}
